
body{
 background-color: white;
}
table{
    
    width: 100%;
}
nav ul li a{

 border: 2px solid;
margin-left: 150px;
font-size: 20px;


}

nav ul li a:hover{
background-color:#FF7F50;
color: blue;
    
}