<!DOCTYPE html>
<html lang=pt-br>
<head>
<title>Login</title>
<meta charset=UTF-8>
<meta name=viewport content="width=device-width, initial-scale=1.0">
<meta name=description content="">
<meta name=keywords content="">
<meta name=author content='Luis Cavalcante'>





<link  rel="stylesheet" th:href="@{/css/login.css}"	 />

<link  rel="stylesheet"  th:href="@{/cssExternos/w3/w3.css}" />








</head>
<body>

	<div id="controle" class="w3-container ">

		<img src="img/Logo_1.png" width="500" height="220"
			alt="imagem da logo Artesanart">
<div class="w3-red"> 

<div class="w3-row-padding">
  <div class="w3-col s6 w3-center">
    <p>Estoque</p>
    <img src="img/estoque.jpg" 
			alt="imagem da logo Artesanart"  height="300" >
    
    <p>	<a href="/estoque/pedidosEstoque/Pendentes"> <button class="w3-button w3-deep-purple">Entrar </button></a></p>
  </div>
  
  <div class="w3-col s6  w3-center">
  
  
    <p>Usuário</p>
      <img src="img/usuario.png" 
			alt="imagem da logo Artesanart"  height="300" >
			
		<p>	<a href="/usuario/requisitarPedido/formulario"> <button class="w3-button w3-deep-purple">Entrar </button></a></p>
  
    	
  </div>
    
</div>
	
		
</div>

	</div>
</body>
</html>
